body  {
    background-color: #323232;
    color: #ffffff;
}
#time_display {
    height: 50vh;
    font-size: 50vh;
    text-align: center;
    font-family: sans;
}

#msg0_display {
    height: 25vh;
    font-size: 24vh;
    text-align: center;
    font-family: sans;
}

#msg1_display {
    height: 25vh;
    font-size: 24vh;
    text-align: center;
    font-family: sans;
}